# --------------------
# Go binaries
# --------------------
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test

# --------------------
# Go build cache
# --------------------
/bin/
/build/

# --------------------
# Go workspace cache
# --------------------
go.work
go.work.sum

# --------------------
# Editor & OS files
# --------------------
.vscode/
.idea/
.DS_Store
Thumbs.db

# --------------------
# Environment files
# --------------------
.env

# --------------------
# Local data (IMPORTANT)
# --------------------
users.txt
